.leaflet-container {
  height: 100vh;
  width: 100%;
}

#filters {
  top: 10px;
  right: 10px;
  position: fixed;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

#filters input {
  margin-left: 10px;
}

#filters button {
  margin: 5px;
}

#filters img {
  position: absolute;
  left: 3px;
  bottom: 3px;
}

@media screen and (max-width: 600px) {
  #filters {
    bottom: 0;
    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    width: 100vw;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
  }

  #filters button {
    font-size: 1em;
    padding: 10px;
    align-self: center;
  }

  #filters div {
    margin: 5px 0 5px 10px;
  }

  #filters input, #filters select {
    padding: 3px;
  }

}